/*
    LIGHT THEME COLORS ####################################
*/
$cool_blue: #3c95d8;
$light_hover_bg: #ebeef1;
$light_background_v1: #f8f9fa;
$light_background_v2: #ebeef1;
$light_background_v3: #f5f6f8;
$light_background_v4: #e9e9e9;
$light_background_v5: #e9e8e8;
$light_background_v6: #ebeef1;
$light_background_v7: #bcbcbc;
$light_background_v8: #f6f6f6;
$light_background_v9: #dee2e6;
$light_background_workspace: #f5f6f8;
$light_font_color_v1: #6C757D;
$light_font_color_v2: #7f7f7f;
$light_font_color_v3: #333;
$light_font_color_v4: #4B5258;

/*
    DARK THEME COLORS ####################################
*/
$dark_background_v1: #1e1e1e;
$dark_background_v2: #393939;
$dark_background_v3: #000;
$dark_background_v4: #393939;
$dark_background_v5: #424242;
$dark_background_v6: #1b1b1b;
$dark_background_v7: #161616;
$dark_background_v8: #444444;
$dark_background_v9: #2d2d2d;
$dark_background_v10: rgb(35, 35, 35);
$dark_background_v11: #353535;
$dark_background_v12: #2b2b2b;
$dark_background_v13: #1b1b1b;
$dark_background_v14: #808080;
$dark_background_workspace: #282828;
$dark_font_color_v1: #a7a7a7;
$dark_font_color_v2: #dcdcdc;
$dark_font_color_v3: #a7a7a7;
$dark_font_color_v4: #a2a2a2;
$dark_font_color_v5: #9e9e9e;
